 html,body{ 
  background: url(../images/msinan.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

tr,th{
   text-align:center;
}